<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Information System</title>
        <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="mainfest" href="site.webmanifest">
        <script src="../../app.js"></script>
    </head>
    <header><img src="android-chrome-192x192 2.png"><h1>Student Information System</h1></header> 
        <nav>
            <a href="/">Home</a>
            |
            <a href="/students">Students</a>
            |
            <a href="/enrollments">Enrollments</a>
            |
            <a href="/courses">Courses</a>
            |
            <a href="/statecoursecodes">State Course Codes</a>
            |
            <a href="/courseenrollments">Course Enrollments</a>
            |
            <a href="/grades">Grades</a>
        </nav>
<body>
    
    {{{body}}}

</body>
    <footer>
        <p>&copy;2024 Team 59 : Mikaella Shelby & Abraham Zamora</p>
    </footer>
</html>
