<script language="JavaScript">
        function showForm(action) {
            if (action == 'insert') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            } else if (action == 'update') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            } else if (action == 'delete') {
                document.getElementById('select').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            } else { // by default display select
                document.getElementById('select').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }

        function newStateCourseCode() { 
            showForm('insert'); 
        }

        function selectStateCourseCode() { 
            showForm('select'); 
        }
        function searchTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("courseCodeTable");
            tr = table.getElementsByTagName("tr");
            
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    </script>
</head>
<body onload="selectStateCourseCode()">
    <main>
    <h2>State Course Codes</h2>
    <p></p>
    
    <div id="select">
        <p><a href="#" onClick="newStateCourseCode()">New State Course Code</a></p>
        <table id="courseCodeTable" border="1" cellpadding="5">
            <tr>
                <th>Delete</th>
                <th>Course Code ID</th>
                <th>Subject</th>
                
            </tr>
            {{#each data}}
            <tr data-value={{this.stateCourseCode}}>
                <td><a href="#" onClick="deleteStateCourseCode({{this.stateCourseCode}})">Delete</a></td>
                <td>{{this.stateCourseCode}}</td>
                <td>{{this.subject}}</td>
            </tr>
            {{/each}}
            <!-- Add more rows as needed -->
        </table>
        <script src="/js/d.statecoursecodes.js"></script>
        <p>&nbsp;</p>
    </div>

    <div id="insert" style="display:none;">
        <form method="POST" id="addStateCode-form" action="/addStateCode-form">
            <legend><strong>Add a new state course code</strong></legend>
            <fieldset class="fields">
                <div><label for="course_code_id"> Course Code ID </label> 
                <input type="text" name="course_code_id" id="course_code_id"></div>

                <div><label for="subject"> Subject </label> 
                <input type="text" name="subject" id="subject"></div>
            </fieldset>
            <input class="btn" type="submit" value="Add Course Code">
            <input class="btn" type="button" value="Cancel" onClick="selectStateCourseCode()">
        </form>
    </div>

</main>
</body>
